RewriteEngine On

RewriteRule ^sitemap\.xml$ sitemap.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?rt=$1 [B,L,QSA]

# Block access to .env files
<Files .env>
    Order allow,deny
    Deny from all
</Files>