<link href='https://fonts.googleapis.com/css?family=UnifrakturCook:700' rel='stylesheet'>

<div class="container-fluid ltr">
    <div class="py-5">
        <h2 class="alert alert-warning text-center" role="alert" style="font-family: 'UnifrakturCook';">
            You seem to have upset the delicate internal balance of my housekeeper
        </h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <h1>404</h1>
            <p>Ooops! you weren't supposed to see this</p>
            <p class="small text-secondary">The page you were looking for no longer exists<br />
                Return to the <a href="/">home page</a> and remember: you haven't seen anything</p>
        </div>
    </div>
</div>