<hr />
<footer>
    <div class="row">
        <div class="col-sm-5 mx-auto text-center">
            &#9400; <bdi>2003</bdi>&nbsp;
            <?= Lang::trans('general.tractor_collection') ?>
        </div>
        <div class="col-sm-5 mx-auto text-center">
            <a href="mailto: amotsh@gmail.com"><?= lang::trans('general.admin') ?></a>
        </div>
    </div>
    <!-- &#9400; <bdi><?= util::auto_copyright(2003) ?></bdi>&nbsp;<?= Lang::trans('general.tractor_collection') ?> -->

</footer>
<script src="/resources/js/popper.min.js"></script>
<script src="/resources/bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js"></script>
<?= $footerStuff ?>
</body>

</html>