<!DOCTYPE html>
<html lang="he">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3181562-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-3181562-1');
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
          crossorigin="anonymous">

    <!--    <link href="/resources/bootstrap-5.0.0-beta2-dist/css/bootstrap-reboot.rtl.min.css" 
              rel="stylesheet" >-->
    <link href="/resources/css/tractor.css" rel="stylesheet" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/resources/js/jquery-3.3.1.min.js"></script>
    <meta charset="utf-8">
    <meta name="Author" content="Amots Hetzroni אמוץ חצרוני">
    <link rel="icon" href="/tractor_favicon.svg" sizes="any" type="image/svg+xml" />
    <title><?= $pageTitle ?></title>
    <?= $headerStuff ?>
  </head>
  <body <?= $body_param ?> >

      <div class="jumbotron jumbotron-fluid hero-unit" 
       style="background-image: url(/assets/media/banners/<?= $bannerFileName ?>);">
       <div class="container pt-4">
        <!-- <h3 class="display-6 jumboHeader"><?= Lang::trans('general.museumName') ?></h3> -->
      <?= file_get_contents(__SITE_PATH . "/assets/media/banners/title_". Lang::getLocale() .".svg") ?>
      </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark" id="navBar">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarToggler" 
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav navbar-right mb-2 mb-md-0">
            <li class="nav-item"><a href="/" class="nav-link"><?= Lang::trans('nav.homePage') ?></a></li>
            <li class="nav-item"><a href="/collection" class="nav-link"><?= Lang::trans('nav.theCollection') ?></a></li>
            <li class="nav-item"><a href="/essays" class="nav-link"><?= Lang::trans('nav.articles') ?></a></li>
            <li class="nav-item"><a href="/about" class="nav-link"><?= Lang::trans('nav.aboutUs') ?></a></li>
            <li class="nav-item"><a href="/volunteers" class="nav-link"><?= Lang::trans('nav.theVolunteers') ?></a></li>
            <li class="nav-item"><a href="/sponsors" class="nav-link"><?= Lang::trans('nav.theCntributors') ?></a></li>
            <li class="nav-item"><a href="/where" class="nav-link"><?= Lang::trans('nav.venue') ?></a></li>
            <li class="nav-item"><a href="/contact" class="nav-link"><?= Lang::trans('nav.contact') ?></a></li>
          </ul>   
          <ul class="navbar-nav <?= $ms_auto ?> mb-2 mb-md-0">
            <?= $langLinks ?>
          </ul>
        </div>
      </div>
    </nav>


